[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/mrtazz/molokai.vim
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/rodjek/vim-puppet/
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/liquid"]
	path = bundle/liquid
	url = https://github.com/tpope/vim-liquid
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/scriptease"]
	path = bundle/scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "bundle/tbone"]
	path = bundle/tbone
	url = https://github.com/tpope/vim-tbone
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/ragel"]
	path = bundle/ragel
	url = https://github.com/jayferd/ragel.vim
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule "bundle/tmux-navigator"]
	path = bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "bundle/argumentative"]
	path = bundle/argumentative
	url = https://github.com/PeterRincker/vim-argumentative
